* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

body {
  background-color: #fbf9f9;
}

.maze {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#settings {
  position: absolute;
  padding: 1.5rem;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #161616;
  font-size: 0.8rem;
  z-index: 2;
}

input {
  margin-bottom: 1rem;
  background-color: #161616;
  text-align: center;
  border: none;
  border-bottom: 1px solid #ffffff;
  margin-top: 0.2rem;
}

#submit {
  background-color: #161616;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 0.4rem;
  cursor: pointer;
  margin: 1rem;
}

#submit:hover {
  opacity: 0.7;
}

.complete {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 30%;
  background: #000000;
  z-index: 4;
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  color: #000000;
  font-family: "Bungee Inline", cursive;
}

@font-face {
  font-family: gamefont; src: url('04B_19.TTF');
}

img {
  width: 100%;
}

.column p{
  text-align: center;
  font-family: gamefont;
  font-size: 1.2em;
}

.columnleft {
  background-color: white;
  box-shadow: 0 0 10px 5px rgb(173, 173, 173);
  border-radius: 3px;
  overflow: hidden;
  padding: 1em;
  width: 33%;
  float: left;
  margin-left: 9%;
  margin-right: 0px;
  margin-top: 15px;
}

.columnright {
  background-color: white;
  box-shadow: 0 0 10px 5px rgb(173, 173, 173);
  border-radius: 3px;
  overflow: hidden;
  padding: 1em;
  width: 33%;
  float: right;
  margin-right: 9%;
  margin-top: 15px;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: #4baf4f; 
  color: whitesmoke; 
  border: 2px solid #4baf4f;
  margin-left: 40%;
}

.button1:hover {
  background-color: #308833;
  color: white;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8em;
  display: block;
  width: 800px;
}