@font-face {
    font-family: quicksand; src: url('Quicksand.ttf');
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
}

.section {
    height: 100vh;
}

#birth {
    background: #aff8db;
}

#school {
    background: #ffabab;
}

#habit {
    background: #fff5ba;
}

.nav {
    --nav-gap: 15px;
    padding: var(--nav-gap);
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.nav-item {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: var(--nav-gap);
}

.nav-link:hover ~ .nav-label {
    opacity: 1;
}

.nav-label {
    color: #000000;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.1s;
}

.nav-link {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    height: var(--nav-gap);
    margin-left: var(--nav-gap);
    transition: transform 0.1s;
    width: var(--nav-gap);
}

.nav-link-selected {
    background: #000000;
    transform: scale(1.4);
}
