@font-face {
    font-family: gamefont; src: url('04B_19.TTF');
}

@font-face {
    font-family: writefont; src: url('DancingScript.TTF');
}

html {
    scroll-behavior: smooth;
}

* {
    background-color: #24252A;
}

header {
    font-size: 50px;
    text-align: center;
    color: white;
    font-family: writefont, sans-serif;
}

img {
    height: 200px;
    cursor: pointer;
}

.column p{
    text-align: center;
    font-family: gamefont;
    font-size: 1.2em;
}

.columnleft {
    box-shadow: 0 0 10px 5px rgb(173, 173, 173);
    border-radius: 3px;
    overflow: hidden;
    padding: 1em;
    width: 33%;
    float: left;
    margin-left: 9%;
    margin-right: 0px;
    margin-top: 20px;
}

.columnright {
    box-shadow: 0 0 10px 5px rgb(173, 173, 173);
    border-radius: 3px;
    overflow: hidden;
    padding: 1em;
    width: 33%;
    float: right;
    margin-right: 9%;
    margin-bottom: 20px;
}

.button {
    border: none;
    padding: 16px 32px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #0c3a0e; 
    border: 2px solid #0c3a0e;
    margin-left: 40%;
    cursor: pointer;
}
  
.button:hover {
    background-color: #308833;
}

.button:hover p{
    background-color: transparent;
}